@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@300&display=swap');

 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    background: #e0e6f0f3;
    color: 	#332526;
    margin-bottom: 10px;
}
 
.container {
    margin: auto;
    max-width: 750px;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 12px 24px; 
    justify-content: space-between;
}

.info {
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
}

.info img{
    margin-left: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 230px; 
} 

/* .info-text {

} */

.info-text h1 {
    margin: 0 0 20px 26px;
    text-align: right;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #a6a3bd;
    padding-bottom: 14px;
}

.info-text a {
    background:#97879c ;
}

.social h4 {
    margin-bottom: 6px;
}

.card {
    border-radius: 10px;
}


.hobbies {
    background: rgb(185, 226, 198);
    padding: 35px;
    margin-top: 16px;
    margin-bottom: 20px;
} 

.hobbies h2 {
    padding-bottom: 20px;
    margin: 0;
    padding-left: 0;
}

.hobbies ol {
    padding-left: 35px;
}

.hobbies li {
    color: #86898f;
}

.job {
    background: #c48791b2;
    padding: 35px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.job h2 {
    padding-bottom: 13px;
}

.job th {
    padding-left: 30px;
    padding-bottom: 8px;
}

.job td {
    padding-left: 30px;
}

.job td:nth-child(2),
.job td:nth-child(3) {
    color: #86898f;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

/* .table td:nth-child(2) {
    color: #86898f;
}

.table td:nth-child(3) {
    color: #86898f;
} */

.courses {
    background:#d3ba8e ;
    padding: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.courses h2 {
    padding-bottom: 7px;
}

.courses-list {
    list-style: none;
    padding: 0;
}

.courses-list li {
    padding-bottom: 5px;
}

.courses-list a {
    border-bottom: 1px solid rgb(211, 212, 174);
}

.courses li {
    margin-left: 36px;
    margin-top: 12px;
    padding: 0;    
}

.contact h2 {
    margin: 8px auto;
    text-align: center;
}

.your label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.your input,
.your textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}


.row {
    margin-bottom: 10px;
    display: flex;
}

.name,
.email {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
}

.email {
    margin-right: 0;
}

/* .name {
    margin-bottom: 4px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
} */

/* .name label {
    color: #86898f;
}

.name input {
    border: none;
    background: #e0e6f0f3;
}
 */

/* .email {
    margin-bottom: 4px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}

.email label {
    color: #86898f;
}

.email input {
    border: none;
    background: #e0e6f0f3;
}

.yourmessage {
    margin-bottom: 2px;
}

.yourmessage label {
    color: #86898f;
}

.yourmessage textarea {
    border: none;
    background: #e0e6f0f3;
} */


a {
    color: #333;
    text-decoration: none;
    transition: all .2s;
}

a:hover {
    color: #fff;
    background: #444;
    border-radius: 2px;
}

a:active {
    color: rgba(162, 171, 255, 0.849);
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
} 

.btn:hover {
    opacity: 0.8;
}

@media (max-width:507px) {
    .container {
        font-size: 0.75rem;
    }
    .info {
        display: block;
        text-align: center;
    }
    .info-text h1{
        text-align: center;
    }
}